
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="module" src="/js/seasonhtmloperations.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>


<style>
    td {
        cursor: pointer;
    }
</style>

<br>
<br>
<div class="container">
    <div class="page-header">
        <h1>Seasons</h1>
    </div>
    <br>
    <br>
    <div class="row">
        <table class="table table-hover" id="lb">
            <thead>
                <tr>
                    <th scope="col">Season</th>
                    <th scope="col">Season URL</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

