
@{
    ViewData["Title"] = "AlexanderAlbon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/img/alexanderalbon.jpg" class="img-fluid" alt="Responsive image">
            <br>
            <br>
            <h1><img src="/img/alex23.png" alt="" width="66" height="50" /><span class="px-3"><img src="/img/thailand.png" alt="" width="48" height="32"></span></h1>
            <h2>Alexander Albon</h2>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1>Driver Info <span><img src="/img/alexanderhelmet.png" alt="" height="125" width="190"></span></h1>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Team</th>
                        <td>Red Bull Racing</td>
                    </tr>
                    <tr>
                        <th scope="row">Country</th>
                        <td>Thailand</td>
                    </tr>
                    <tr>
                        <th scope="row">Podiums</th>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th scope="row">Points</th>
                        <td>156</td>
                    </tr>
                    <tr>
                        <th scope="row">Grands Prix entered</th>
                        <td>33</td>
                    </tr>
                    <tr>
                        <th scope="row">World Championships</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest race finish</th>
                        <td>3 (x1)</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest grid position</th>
                        <td>4</td>
                    </tr>
                    <tr>
                        <th scope="row">Date of birth</th>
                        <td>23/03/1996</td>
                    </tr>
                    <tr>
                        <th scope="row">Place of birth</th>
                        <td>London, England</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <h1>Biography</h1>
    <br>
    <p>
        Born in London but racing under the flag of Thailand, Alexander Albon’s first word was in fact Italian – and that word was Ferrari.

        Idolising Michael Schumacher and dreaming of one day racing in Formula 1, Albon got his wish with another team from Italy. After a patient wait for his big break, Albon did his talking on track with Toro Rosso in 2019's opening races, earning a mid-season promotion to Red Bull Racing.

        Pipped to the 2016 GP3 title by a certain Charles Leclerc, Albon then left his great friendship with George Russell trackside as he also took the 2018 Formula 2 title fight down to the wire, before graduating into the Formula 1 big league along with yet another F1 contemporary, Lando Norris.
    </p>

    <p>
        A stylish over-taker with a championship mentality, Albon was unfazed by partnering the mighty Max Verstappen for the second half of his rookie season, taking top-six finishes in eight of his nine 2019 races with Red Bull. No wonder they kept him on for 2020!

        Laidback and cheerful with a cheeky grin, the Thai racer is popular among his peers – not always easy in motorsport’s cauldron of competition. But you don’t succeed in F1 by being popular - Albon’s challenge now is a big one: matching Max in identical machinery.
    </p>
</div>

