
@{
    ViewData["Title"] = "AntonioGiovinazzi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/img/antoniogiovinazzi.jpg" class="img-fluid" alt="Responsive image">
            <br>
            <br>
            <h1><img src="/img/antonio99.png" alt="" width="66" height="50" /><span class="px-3"><img src="/img/italy.jpg" alt="" width="48" height="32"></span></h1>
            <h2>Antonio Giovinazzi</h2>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1>Driver Info <span><img src="/img/antoniohelmet.png" alt="" height="125" width="190"></span></h1>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Team</th>
                        <td>Alfa Romeo</td>
                    </tr>
                    <tr>
                        <th scope="row">Country</th>
                        <td>Italy</td>
                    </tr>
                    <tr>
                        <th scope="row">Podiums</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Points</th>
                        <td>17</td>
                    </tr>
                    <tr>
                        <th scope="row">Grands Prix entered</th>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th scope="row">World Championships</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest race finish</th>
                        <td>5 (x1)</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest grid position</th>
                        <td>7</td>
                    </tr>
                    <tr>
                        <th scope="row">Date of birth</th>
                        <td>14/12/1993</td>
                    </tr>
                    <tr>
                        <th scope="row">Place of birth</th>
                        <td>Martina Franca, Italy</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <h1>Biography</h1>
    <br>
    <p>
        He’s the Italian steed with speed from the stable of the Prancing Horse. Antonio Giovinazzi flies the flag for Italy as the motorsport mad nation champs at the bit for its next F1 star.

        The pilota from Puglia can punch his way through the pack and pull off a plucky pass. He showcased this natural racing acumen during a blistering 2016 GP2 campaign where he finished a close runner-up to team mate Pierre Gasly.
    </p>

    <p>
        Giovinazzi concedes he went from hero to zero after two races as a stand-in for Sauber in 2017 when a brilliantly composed F1 debut in Melbourne was followed by two shunts in Shanghai. But a stint as Ferrari reserve gave him time to re-group and reflect ahead of his first full season in 2019, paired alongside Kimi Raikkonen at Alfa Romeo.

        The notion of a home-grown racer with the iconic Alfa Romeo brand is irresistible to many – and Giovinazzi quickly laid his claim to being the Italian for the job, out-qualifying Raikkonen on several occasions.

        Now his challenge is to out-race the Iceman…
    </p>
</div>

