
@{
    ViewData["Title"] = "CarlosSainz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/img/carlossainz.jpg" class="img-fluid" alt="Responsive image">
            <br>
            <br>
            <h1><img src="/img/carlos55.png" alt="" width="66" height="50" /><span class="px-3"><img src="/img/spain.jpg" alt="" width="48" height="32"></span></h1>
            <h2>Carlos Sainz</h2>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1>Driver Info <span><img src="/img/carloshelmet.png" alt="" height="125" width="190"></span></h1>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Team</th>
                        <td>McLaren</td>
                    </tr>
                    <tr>
                        <th scope="row">Country</th>
                        <td>Spain</td>
                    </tr>
                    <tr>
                        <th scope="row">Podiums</th>
                        <td>2</td>
                    </tr>
                    <tr>
                        <th scope="row">Points</th>
                        <td>326</td>
                    </tr>
                    <tr>
                        <th scope="row">Grands Prix entered</th>
                        <td>114</td>
                    </tr>
                    <tr>
                        <th scope="row">World Championships</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest race finish</th>
                        <td>2 (x1)</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest grid position</th>
                        <td>3</td>
                    </tr>
                    <tr>
                        <th scope="row">Date of birth</th>
                        <td>01/09/1994</td>
                    </tr>
                    <tr>
                        <th scope="row">Place of birth</th>
                        <td>Madrid, Spain</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <h1>Biography</h1>
    <br>
    <p>
        He’s the matador from Madrid racing royalty.

        Entering F1’s Bull Ring paired alongside Max Verstappen at Toro Rosso in 2015, Sainz quickly showed his fighting spirit. A tenacious racer, Sainz puts the car on the edge as he hustles his way through the pack. No wonder he’s earned the nickname Chilli.
    </p>

    <p>
        But the Spaniard is intelligent as well as instinctive, thinking his way through a race and into the points. This calm temperament follows him off track where he remains unfazed by the pressures of forging a Grand Prix career with a famous name.

        Sainz is the son of double World Rally champion, also his namesake, and has brought some of Dad’s driving skills to the F1 circuit – junior loves a delicious dose of drift for one.

        After following in his famous father’s tyre tracks, Sainz had big racing boots to fill at McLaren when he replaced his childhood hero Fernando Alonso. It is never easy living in the shadow of sporting giants, but Sainz has shown the drive and disposition to deal with it. Vamos!
    </p>
</div>

