
@{
    ViewData["Title"] = "DaniilKvyat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/img/daniilkvyat.jpg" class="img-fluid" alt="Responsive image">
            <br>
            <br>
            <h1><img src="/img/daniil26.png" alt="" width="66" height="50" /><span class="px-3"><img src="/img/russia.jpg" alt="" width="48" height="32"></span></h1>
            <h2>Daniil Kvyat</h2>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1>Driver Info <span><img src="/img/daniilhelmet.png" alt="" height="125" width="190"></span></h1>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Team</th>
                        <td>AlphaTauri</td>
                    </tr>
                    <tr>
                        <th scope="row">Country</th>
                        <td>Russian Federation</td>
                    </tr>
                    <tr>
                        <th scope="row">Podiums</th>
                        <td>3</td>
                    </tr>
                    <tr>
                        <th scope="row">Points</th>
                        <td>184</td>
                    </tr>
                    <tr>
                        <th scope="row">Grands Prix entered</th>
                        <td>107</td>
                    </tr>
                    <tr>
                        <th scope="row">World Championships</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest race finish</th>
                        <td>2 (x1)</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest grid position</th>
                        <td>4</td>
                    </tr>
                    <tr>
                        <th scope="row">Date of birth</th>
                        <td>26/04/1994</td>
                    </tr>
                    <tr>
                        <th scope="row">Place of birth</th>
                        <td>Ufa, Russia</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <h1>Biography</h1>
    <br>
    <p>
        He’s the comeback kid with a capital K.

        Proving even ‘torpedoes’ can make U-turns, Daniil Kvyat made a surprise F1 return for a third spell with Toro Rosso in 2019. His intrinsic speed and ability to adapt to circuit conditions make him a valuable asset - and he’s a proven podium contender.

        The rangy Russia arrived in Formula 1 with an impervious poker face and set about his business as a cool and confident racer.

        But after being dropped by Red Bull, Kvyat plunged into a downward spiral and lost confidence.
    </p>

    <p>
        That disappointment was shaken off with a year as Ferrari’s development driver and a little time away from the Red Bull family saw Kvyat mellow and mature.

        The re-set button pressed, Kvyat 3.0 came back ready to rumble with the Bulls once more. And he didn’t let them down, scoring 11 times in 2019, including an emotional podium return in Germany.

        Away from the circuit, the Russian is an extreme sports nut and, just like in his F1 career, has learnt to ride the waves.
    </p>
</div>

