
@{
    ViewData["Title"] = "DanielRicciardo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/img/danielricciardo.jpg" class="img-fluid" alt="Responsive image">
            <br>
            <br>
            <h1><img src="/img/ricciardo3.png" alt="" width="66" height="50" /><span class="px-3"><img src="/img/australia.jpg" alt="" width="48" height="32"></span></h1>
            <h2>Daniel Ricciardo</h2>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1>Driver Info <span><img src="/img/danielhelmet.png" alt="" height="125" width="190"></span></h1>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Team</th>
                        <td>Renault</td>
                    </tr>
                    <tr>
                        <th scope="row">Country</th>
                        <td>Australia</td>
                    </tr>
                    <tr>
                        <th scope="row">Podiums</th>
                        <td>30</td>
                    </tr>
                    <tr>
                        <th scope="row">Points</th>
                        <td>1120</td>
                    </tr>
                    <tr>
                        <th scope="row">Grands Prix entered</th>
                        <td>183</td>
                    </tr>
                    <tr>
                        <th scope="row">World Championships</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest race finish</th>
                        <td>1 (x7)</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest grid position</th>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th scope="row">Date of birth</th>
                        <td>01/07/1989</td>
                    </tr>
                    <tr>
                        <th scope="row">Place of birth</th>
                        <td>Perth, Australia</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <h1>Biography</h1>
    <br>
    <p>
        The self-styled “Honey Badger” is fuzzy on the outside and feisty on the inside. Drivers beware because behind Ricciardo’s laidback persona and big grin is a razor-sharp racer with a bite.

        The Australian combines all-out speed with impressive race craft. Never afraid to push to the limits if it means pulling off a pass, Ricciardo is a proven race-winner for Red Bull, capable of consistently finishing at the business end of the championship table.
    </p>

    <p>
        A regular podium-finisher, Ricciardo has christened the steps around the world with a dousing of Aussie culture – the ‘Shoey’ – as he quaffed champagne from a soggy racing boot. Yes it’s goofy, but the trademark celebration illustrates why he is loved for his sense of humour but never underestimated on track.

        His latest chapter with Renault’s works team has brought fresh challenges for the Perth pilot as he chases his dream of following Jack Brabham and Alan Jones as the next world champion from Down Under. And in 2020 he faces a highly-rated new team mate in the form of Esteban Ocon. But whatever happens, Ricciardo is sure to keep on smiling.
    </p>
</div>

