
@{
    ViewData["Title"] = "EstebanOcon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/img/estebanocon.jpg" class="img-fluid" alt="Responsive image">
            <br>
            <br>
            <h1>31<span class="px-3"><img src="/img/france.gif" alt="" width="48" height="32"></span></h1>
            <h2>Esteban Ocon</h2>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1>Driver Info <span><img src="/img/estebanhelmet.png" alt="" height="125" width="190"></span></h1>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Team</th>
                        <td>Renault</td>
                    </tr>
                    <tr>
                        <th scope="row">Country</th>
                        <td>France</td>
                    </tr>
                    <tr>
                        <th scope="row">Podiums</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Points</th>
                        <td>176</td>
                    </tr>
                    <tr>
                        <th scope="row">Grands Prix entered</th>
                        <td>62</td>
                    </tr>
                    <tr>
                        <th scope="row">World Championships</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest race finish</th>
                        <td>5 (x3)</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest grid position</th>
                        <td>3</td>
                    </tr>
                    <tr>
                        <th scope="row">Date of birth</th>
                        <td>17/09/1996</td>
                    </tr>
                    <tr>
                        <th scope="row">Place of birth</th>
                        <td>Évreux, Normandy</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <h1>Biography</h1>
    <br>
    <p>
        If there’s one word that dominates Esteban Ocon’s career, it’s ‘sacrifice’.

        Back when he was just a promising karter, Ocon’s parents sold their house, put their jobs on hold, and began a life on the road, living in a caravan and travelling from circuit to circuit to support their son’s burgeoning career.

        Sacrifice, see – but it worked. 2014 saw Ocon break through in the world of single-seaters, as he beat a certain Max Verstappen to the European F3 title. Backed by Mercedes, he won the GP3 title the following year and was halfway through a season of DTM in 2016 when he was offered the chance to replace Rio Haryanto at the minnow Manor team from the Belgian Grand Prix onwards.
    </p>

    <p>
        That opportunity led to a full-time seat the following year with Force India, where his wheel-to-wheel duels with highly-rated team mate Sergio Perez quickly marked him out as a rising star. But when Lawrence Stroll, father of racer Lance, stepped in midway through 2018 to secure the squad’s financial future, the writing was on the wall for Ocon, who was moved aside at the end of the year to allow Stroll Jnr to join from Williams.

        Ocon bided his time, though, and after a year on the sidelines as Mercedes’ reserve driver, he found his way back into a race seat with Renault in 2020. Nothing in Ocon’s motorsport career has come easy – but if Ocon has managed to return to the F1 grid, it’s through a combination of self-belief, determination and a talent that’s up there with the very best.
    </p>
</div>

