
@{
    ViewData["Title"] = "GeorgeRussell";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/img/georgerussell.jpg" class="img-fluid" alt="Responsive image">
            <br>
            <br>
            <h1><img src="/img/george63.png" alt="" width="66" height="50" /><span class="px-3"><img src="/img/england.jpg" alt="" width="48" height="32"></span></h1>
            <h2>George Russell</h2>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1>Driver Info <span><img src="/img/georgehelmet.png" alt="" height="125" width="190"></span></h1>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Team</th>
                        <td>Williams</td>
                    </tr>
                    <tr>
                        <th scope="row">Country</th>
                        <td>United Kingdom</td>
                    </tr>
                    <tr>
                        <th scope="row">Podiums</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Points</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">Grands Prix entered</th>
                        <td>33</td>
                    </tr>
                    <tr>
                        <th scope="row">World Championships</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest race finish</th>
                        <td>11 (x2)</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest grid position</th>
                        <td>11</td>
                    </tr>
                    <tr>
                        <th scope="row">Date of birth</th>
                        <td>15/02/1998</td>
                    </tr>
                    <tr>
                        <th scope="row">Place of birth</th>
                        <td>King's Lynn, England</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <h1>Biography</h1>
    <br>
    <p>
        He’s the driver with the motto: “If in doubt, go flat out”.

        George Russell lived by it in his 2019 debut F1 campaign, out-qualifying seasoned team mate Robert Kubica at all 21 Grands Prix, and proving Williams right in identifying him as a hard worker and a tenacious talent.

        That brilliant baseline speed had served Russell well as he totted up titles on his way to Formula 1. The Briton stormed to the 2017 GP3 championship and delivered the 2018 Formula 2 crown under immense pressure.

        Spotting his potential, world champions Mercedes swooped to sign him to their junior programme in 2017, when Russell already had a DTM deal on the table. He banked more experience with practice sessions with Force India and tests for the Silver Arrows, before landing his Mercedes-powered Williams race drive.
    </p>

    <p>
        A refusal to cede ground to his rivals - and commitment to a tricky pass – underpins Russell’s winning mentality. And though it may not have earned him a point in a tough debut season, he wants to put that right in 2020 – when he’s also de-facto number one to new rookie team mate Nicholas Latifi.

        Family is super-important to Russell, his Dad having supported the roots of his racing career – and greased the wheels as his mechanic. Next up on the fledging F1 star’s wish list is celebrating Formula 1 success with his clan.

        As always, ‘Russell the Rocket’ will be going flat out.
    </p>
</div>

