
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<br>
<div class="container">
    <!-- Driver List -->
    <ul class="list-unstyled">
        <li class="media">
            <img src="/img/lewispp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/lewis44.png" alt=""
                     width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Lewis Hamilton<span class="px-3">
                        <img src="/img/england.jpg" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">1</span><br>
                <strong>Points:</strong><span class="px-2">256 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Mercedes</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/LewisHamilton" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/valtteripp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/bottas77.png"
                     alt="" width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Valtteri Bottas<span class="px-3">
                        <img src="/img/finland.gif" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">2</span><br>
                <strong>Points:</strong><span class="px-2">179 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Mercedes</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/ValtteriBottas" role="button"  >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/maxpp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/max33.png" alt=""
                     width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Max Verstappen<span class="px-3">
                        <img src="/img/belgium.gif" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">3</span><br>
                <strong>Points:</strong><span class="px-2">162 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Red Bull Racing</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/MaxVerstappen" role="button"  >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/danielpp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/ricciardo3.png"
                     alt="" width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Daniel Ricciardo<span class="px-3">
                        <img src="/img/australia.jpg" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">4</span><br>
                <strong>Points:</strong><span class="px-2">80 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Renault</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/DanielRicciardo" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/charlespp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/charles16.png"
                     alt="" width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Charles Leclerc<span class="px-3">
                        <img src="/img/monaco.jpg" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">5</span><br>
                <strong>Points:</strong><span class="px-2">75 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Ferrari</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/CharlesLeclerc" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/sergiopp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/sergio11.png"
                     alt="" width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Sergio Perez<span class="px-3">
                        <img src="/img/mexico.gif" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">6</span><br>
                <strong>Points:</strong><span class="px-2">74 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Racing Point</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/SergioPerez" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/landopp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/lando4.png" alt=""
                     width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Lando Norris<span class="px-3">
                        <img src="/img/england.jpg" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">7</span><br>
                <strong>Points:</strong><span class="px-2">65 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">McLaren</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/LandoNorris" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/alexanderpp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/alex23.png"
                     alt="" width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Alexander Albon<span class="px-3">
                        <img src="/img/thailand.png" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">8</span><br>
                <strong>Points:</strong><span class="px-2">64 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Red Bull Racing</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/AlexanderAlbon" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/pierrepp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/pierre10.png"
                     alt="" width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Pierre Gasly<span class="px-3">
                        <img src="/img/france.gif" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">9</span><br>
                <strong>Points:</strong><span class="px-2">63 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">AlphaTauri</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/PierreGasly" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/carlospp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/carlos55.png"
                     alt="" width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Carlos Sainz<span class="px-3">
                        <img src="/img/spain.jpg" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">10</span><br>
                <strong>Points:</strong><span class="px-2">59 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">McLaren</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/CarlosSainz" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/lancepp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/lance18.png" alt=""
                     width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Lance Stroll<span class="px-3">
                        <img src="/img/canada.jpg" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">11</span><br>
                <strong>Points:</strong><span class="px-2">57 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Racing Point</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/LanceStroll" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/estebanpp.png" class="mr-n2" alt="" height="100" width="100"><span><strong>31</strong></span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Esteban Ocon<span class="px-3">
                        <img src="/img/france.gif" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">12</span><br>
                <strong>Points:</strong><span class="px-2">40 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Renault</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/EstebanOcon" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/seastianpp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/sebastian5.png"
                     alt="" width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Sebastian Vettel<span class="px-3">
                        <img src="/img/germany.jpg" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">13</span><br>
                <strong>Points:</strong><span class="px-2">18 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Ferrari</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/SebastianVettel" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/daniilpp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/daniil26.png"
                     alt="" width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Daniil Kvyat<span class="px-3">
                        <img src="/img/russia.jpg" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">14</span><br>
                <strong>Points:</strong><span class="px-2">14 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">AlphaTauri</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/DaniilKvyat" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/nicopp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/nico27.png" alt=""
                     width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Nico Hulkenberg<span class="px-3">
                        <img src="/img/germany.jpg" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">15</span><br>
                <strong>Points:</strong><span class="px-2">10 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Racing Point</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="#" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/antoniopp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/antonio99.png"
                     alt="" width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Antonio Giovinazzi<span class="px-3">
                        <img src="/img/italy.jpg" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">16</span><br>
                <strong>Points:</strong><span class="px-2">3 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Alfa Romeo Racing</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/AntonioGiovinazzi" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/kimipp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/kimi7.png" alt=""
                     width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Kimi Räikkönen<span class="px-3">
                        <img src="/img/finland.gif" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">17</span><br>
                <strong>Points:</strong><span class="px-2">2 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Alfa Romeo Racing</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/KimiRaikkonen" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/romainpp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/romain8.png"
                     alt="" width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Romain Grosjean<span class="px-3">
                        <img src="/img/france.gif" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">18</span><br>
                <strong>Points:</strong><span class="px-2">2 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Haas F1 Team</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/RomainGrosjean" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/kevinpp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/kevin20.png" alt=""
                     width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Kevin Magnussen<span class="px-3">
                        <img src="/img/denmark.jpg" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">19</span><br>
                <strong>Points:</strong><span class="px-2">1 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Haas F1 Team</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/KevinMagnussen" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/nicholaspp.png" class="mr-n2" alt="" height="100" width="100"><span><strong>6</strong></span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    Nicholas Latifi<span class="px-3">
                        <img src="/img/canada.jpg" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">20</span><br>
                <strong>Points:</strong><span class="px-2">0 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Williams</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/NicholasLatifi" role="button" >Go</a>
            </div>
        </li>
        <li class="media my-4">
            <img src="/img/georgepp.png" class="mr-n4" alt="" height="100" width="100"><span>
                <img src="/img/george63.png"
                     alt="" width="50" height="40">
            </span>
            <div class="media-body ml-2">
                <h5 class="mt-0 mb-1">
                    George Russell<span class="px-3">
                        <img src="/img/england.jpg" alt="" width="24"
                             height="16">
                    </span>
                </h5>
                <strong>Position:</strong><span class="px-2">21</span><br>
                <strong>Points:</strong><span class="px-2">0 <strong>PTS</strong></span><br>
                <strong>Team:</strong><span class="px-2">Williams</span>
            </div>
            <div class="col ml-n5">
                <a class="btn btn-outline-danger" href="/F1Drivers2020/GeorgeRussell" role="button" >Go</a>
            </div>
        </li>
    </ul>
</div>


