
@{
    ViewData["Title"] = "KevinMagnussen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/img/kevinmagnussen.jpg" class="img-fluid" alt="Responsive image">
            <br>
            <br>
            <h1><img src="/img/kevin20.png" alt="" width="66" height="50" /><span class="px-3"><img src="/img/denmark.jpg" alt="" width="48" height="32"></span></h1>
            <h2>Kevin Magnussen</h2>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1>Driver Info <span><img src="/img/kevinhelmet.png" alt="" height="125" width="190"></span></h1>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Team</th>
                        <td>Haas</td>
                    </tr>
                    <tr>
                        <th scope="row">Country</th>
                        <td>Denmark</td>
                    </tr>
                    <tr>
                        <th scope="row">Podiums</th>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th scope="row">Points</th>
                        <td>158</td>
                    </tr>
                    <tr>
                        <th scope="row">Grands Prix entered</th>
                        <td>115</td>
                    </tr>
                    <tr>
                        <th scope="row">World Championships</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest race finish</th>
                        <td>2 (x1)</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest grid position</th>
                        <td>4</td>
                    </tr>
                    <tr>
                        <th scope="row">Date of birth</th>
                        <td>05/10/1992</td>
                    </tr>
                    <tr>
                        <th scope="row">Place of birth</th>
                        <td>Roskilde, Denmark</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <h1>Biography</h1>
    <br>
    <p>
        Call him a lone ranger or a maverick, but Magnussen is here for one reason only – to race.

        He may be a second-generation F1 driver – following his father Jan onto the grid – but Magnussen’s idols are from the ‘golden era’ of Grand Prix racing when the likes of Juan Manuel Fangio and Stirling Moss risked it all for the love of the sport.

        The Roskilde racer’s own prowess was proven on debut for McLaren, who guided him through the junior ranks, when he cruised into the top-three at the Australian Grand Prix, becoming the first Dane to claim a podium in F1.
    </p>

    <p>
        Other champagne moments have been more difficult to find, but after a season with Renault, Magnussen is now very much settled in at home with Haas, where he feels he has found kindred spirits at a real racing team.

        His meaty manoeuvres and elbows-out approach have earned him a bad-boy reputation on track, something that still leaves him baffled. Out of the car Magnussen is laidback and affable. After all he has his dream job – and he is only here to race.
    </p>
</div>

