
@{
    ViewData["Title"] = "LandoNorris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/img/landonorris.jpg" class="img-fluid" alt="Responsive image">
            <br>
            <br>
            <h1><img src="/img/lando4.png" alt="" width="66" height="50" /><span class="px-3"><img src="/img/england.jpg" alt="" width="48" height="32"></span></h1>
            <h2>Lando Norris</h2>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1>Driver Info <span><img src="/img/landohelmet.png" alt="" height="125" width="190"></span></h1>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Team</th>
                        <td>McLaren</td>
                    </tr>
                    <tr>
                        <th scope="row">Country</th>
                        <td>United Kingdom</td>
                    </tr>
                    <tr>
                        <th scope="row">Podiums</th>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th scope="row">Points</th>
                        <td>114</td>
                    </tr>
                    <tr>
                        <th scope="row">Grands Prix entered</th>
                        <td>33</td>
                    </tr>
                    <tr>
                        <th scope="row">World Championships</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest race finish</th>
                        <td>3 (x1)</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest grid position</th>
                        <td>3</td>
                    </tr>
                    <tr>
                        <th scope="row">Date of birth</th>
                        <td>13/11/1999</td>
                    </tr>
                    <tr>
                        <th scope="row">Place of birth</th>
                        <td>Bristol, England</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <h1>Biography</h1>
    <br>
    <p>
        Lando Norris may not be named after Star Wars rebel Lando Calrissian - his Mum just liked the moniker - but he has flair and fighting spirit in bountiful supply.

        McLaren had the British teenager on their books for two years before fast-tracking him into F1’s galaxy of stars in 2019. A firecracker in his junior career, with a penchant for pole positions and wheel-to-wheel tussles, Norris didn’t let them down.

        Paired with the highly-rated – and far more experienced – Carlos Sainz, his rookie season was impressive, edging the Spaniard in their head-to-head qualifying battle, scoring points on 11 occasions, and only narrowly missing out on a top-10 championship placing.
    </p>

    <p>
        An exciting talent on track, away from it Norris brims with a modest charm and an artistic side sees him design and paint his own race gear as a hobby. The focus for the future is allying artistry and ambition on track as McLaren rely on the promise of youth to take them back to the top.

        Norris hopes the downforce will be with him…
    </p>
</div>

