
@{
    ViewData["Title"] = "LewisHamilton";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/img/lewishamiton.jpg" class="img-fluid" alt="Responsive image">
            <br>
            <br>
            <h1><img src="/img/lewis44.png" alt="" width="66" height="50" /><span class="px-3"><img src="/img/england.jpg" alt="" width="48" height="32"></span></h1>
            <h2>Lewis Hamilton</h2>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1>Driver Info <span><img src="/img/lewishelmet.png" alt="" height="125" width="190"></span></h1>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Team</th>
                        <td>Mercedes</td>
                    </tr>
                    <tr>
                        <th scope="row">Country</th>
                        <td>United Kingdom</td>
                    </tr>
                    <tr>
                        <th scope="row">Podiums</th>
                        <td>161</td>
                    </tr>
                    <tr>
                        <th scope="row">Points</th>
                        <td>3687</td>
                    </tr>
                    <tr>
                        <th scope="row">Grands Prix entered</th>
                        <td>262</td>
                    </tr>
                    <tr>
                        <th scope="row">World Championships</th>
                        <td>6</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest race finish</th>
                        <td>1 (x92)</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest grid position</th>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th scope="row">Date of birth</th>
                        <td>07/01/1985</td>
                    </tr>
                    <tr>
                        <th scope="row">Place of birth</th>
                        <td>Stevenage, England</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <h1>Biography</h1>
    <br>
    <p>‘Still I Rise’ – these are the words emblazoned across the back of Lewis Hamilton’s helmet and tattooed across his shoulders, and ever since annihilating expectations with one of the greatest rookie performances in F1 history in 2007, that’s literally all he’s done: risen to the top of the all-time pole positions list ahead of his hero Ayrton Senna, surged into second place in the wins column behind only the inimitable Michael Schumacher, and surpassed the legendary Sir Jackie Stewart for the most championship titles by a British driver.</p>

    <p>
        Could he be the G.O.A.T? Few would deny that he’s in the conversation – and what’s more he’s got there his way, twinning his relentless speed with a refusal to conform to stereotypes for how a racing driver should think, dress or behave.

        Respect is hard earned in F1, but Hamilton has it from every one of his peers. Why? Because they know that whatever the track, whatever the conditions, whatever the situation, when his visor goes down and the lights go out, it’s Hammertime.
    </p>
</div>

