
@{
    ViewData["Title"] = "NicholasLatifi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/img/nicholaslatifi.jpg" class="img-fluid" alt="Responsive image">
            <br>
            <br>
            <h1>6<span class="px-3"><img src="/img/canada.jpg" alt="" width="48" height="32"></span></h1>
            <h2>Nicholas Latifi</h2>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1>Driver Info <span><img src="/img/nicholashelmet.png" alt="" height="125" width="190"></span></h1>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Team</th>
                        <td>Williams</td>
                    </tr>
                    <tr>
                        <th scope="row">Country</th>
                        <td>Canada</td>
                    </tr>
                    <tr>
                        <th scope="row">Podiums</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Points</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">Grands Prix entered</th>
                        <td>12</td>
                    </tr>
                    <tr>
                        <th scope="row">World Championships</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest race finish</th>
                        <td>11 (x2)</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest grid position</th>
                        <td>15</td>
                    </tr>
                    <tr>
                        <th scope="row">Date of birth</th>
                        <td>29/06/1995</td>
                    </tr>
                    <tr>
                        <th scope="row">Place of birth</th>
                        <td>Montreal, Canada</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <h1>Biography</h1>
    <br>
    <p>
        Thirteen is an advanced age to begin your karting career these days. But that’s how old Toronto native Nicholas Latifi was when he took his first steps in motorsport. Just 11 years later, he became a fully-fledged Formula 1 driver.

        That ascension into racing's top category was largely thanks to his most impressive season to date in Formula 2 in 2019, with Latifi – who’d finished a disappointing ninth in the series’ 2018 standings – pulling up his bootstraps to claim second in the championship. That result, combined with the Williams/Robert Kubica union failing to mesh in 2019, meant Williams made the call to promote their affable Canadian reserve driver to a full-time drive alongside George Russell for 2020.
    </p>

    <p>
        Latifi’s first taste of F1 machinery actually came all the way back in 2017, when he was given a test by Renault. Further duties with Force India followed in 2018 before he joined the Williams family in 2019. It was an annus horribilis for the squad, no doubt – but Latifi’s straightforward, friendly attitude and insightful feedback helped swing the vote in his favour for 2020.

        Now, the goal is to show that that eye-catching F2 year wasn’t just a fluke, and that he’s got what it takes to mix it with the best drivers in the world.
    </p>
</div>

