
@{
    ViewData["Title"] = "RomainGrosjean";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/img/romaingrosjean.jpg" class="img-fluid" alt="Responsive image">
            <br>
            <br>
            <h1><img src="/img/romain8.png" alt="" width="66" height="50" /><span class="px-3"><img src="/img/france.gif" alt="" width="48" height="32"></span></h1>
            <h2>Romain Grosjean</h2>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1>Driver Info <span><img src="/img/romainhelmet.png" alt="" height="125" width="190"></span></h1>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Team</th>
                        <td>Haas</td>
                    </tr>
                    <tr>
                        <th scope="row">Country</th>
                        <td>France</td>
                    </tr>
                    <tr>
                        <th scope="row">Podiums</th>
                        <td>10</td>
                    </tr>
                    <tr>
                        <th scope="row">Points</th>
                        <td>391</td>
                    </tr>
                    <tr>
                        <th scope="row">Grands Prix entered</th>
                        <td>178</td>
                    </tr>
                    <tr>
                        <th scope="row">World Championships</th>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest race finish</th>
                        <td>2 (x2)</td>
                    </tr>
                    <tr>
                        <th scope="row">Highest grid position</th>
                        <td>2</td>
                    </tr>
                    <tr>
                        <th scope="row">Date of birth</th>
                        <td>17/04/1986</td>
                    </tr>
                    <tr>
                        <th scope="row">Place of birth</th>
                        <td>Geneva, Switzerland</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <h1>Biography</h1>
    <br>
    <p>
        High-speed haute cuisine is on the menu in the Grosjean household, where head chef Romain is also a racing star.

        Quick and with a natural feel for braking and balance, Grosjean has the right ingredients to cook up a storm on track. Tussling and hustling at the front of the pack, the French racer claimed a series of impressive podiums for Renault before moving to spearhead the Haas team.
    </p>

    <p>
        Like the best chefs, the Geneva-born driver occasionally breaks a few eggs.  Renault handed Grosjean his debut halfway through the 2009 season, but a mix of inexperience and enthusiasm saw him move back to the subs bench before making his F1 return in 2012. A one-race ban after triggering a pile-up in Spa seemed to be the final arc of the learning curve for Grosjean.

        A more mature Grosjean remains enthusiastic and expansive. A father to a growing brood and a budding cookbook author, it seems he also has the ingredients for a happy life both in the Formula 1 paddock and away from the cauldron of F1 competition.
    </p>
</div>

