
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="module" src="/js/raceschedulehtmloperations.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<br>
<br>
<div class="container">

    <div class="page-header">
        <h1>Race Schedules</h1>
    </div>
   
    <br>
    <br>

    <div class="row">

        <div class="col-lg-3" style="display: flex;">
            <label class="px-2">Year:</label>
            <select class="form-control" name="" id="yearsselect"></select>
        </div>

    </div>
    <div class="row" style="margin:0 10px 0 10px;">
        <table class="table table-hover" id="lb">
            <thead>
                <tr>
                    <th>Round</th>
                    <th>Race Name</th>
                    <th>Date</th>
                    <th>Circuit Name</th>
                    <th>Country</th>
                    <th>Race URL</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>




